.card {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 24px;
    height: 180px;
    width: max-content;
    padding: 16px;
    margin: 16px;
}

.deadCard {
    background: rgba(100, 0, 0, 0.5);
}

.turnCard {
    background: rgba(138, 146, 69, 0.5);
}

.chosenLootCard {
    background: rgba(0, 150, 0, 0.5);
}

.enemyCard {
    float: left;
    height: 120px;
}

.characterDetails {
    font-size: 16px;
    color: white;
    text-align: left;
    margin-top: 12px;
    margin-bottom: 12px;
    margin-left: 8px;
    margin-right: 8px;
}

.characterHeader {
    font-size: 24px;
}

.characterLeft {
    float: left;
    width: 80%;
}

.characterRight {
    float: right;
    width: 20%;
}

.enemyCharacterLeft {
    float: left;
    width: 50%;
}

.enemyCharacterRight {
    float: right;
    width: 50%;
}

.playerCards {
    float: center;
    width: 100%;
}

.enemyCards {
    align-items: center;
}

.buttons {
    float: left;
    width: 100%;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(255, 255, 255,1);
}

.items {
    --grid-layout-gap: 10px;
    --grid-column-count: 10;
    --grid-item--min-width: 72px;
    --gap-count: calc(var(--grid-column-count) - 1);
    --total-gap-width: calc(var(--gap-count) * var(--grid-layout-gap));
    --grid-item--max-width: calc((100% - var(--total-gap-width)) / var(--grid-column-count));

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(max(var(--grid-item--min-width), var(--grid-item--max-width)), 72px));
    grid-gap: var(--grid-layout-gap);

}

.item {
    width: 64px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.64);
    margin: 5px;
}

.item.selected {
    border: 1px solid lime;
}

.uncommon {
    background-color: rgb(165, 214, 167);
}

.rare {
    background-color: rgb(130, 177, 255);
}

.epic {
    background-color: rgb(179, 136, 255);
}

.mythic {
    background-color: rgb(132, 255, 255);
}